
@media screen and (max-width: 1178px) {

    body {
        background: rgb(72, 2, 138);
        background-size: cover; /* Para cobrir toda a área do body */
        background-repeat: no-repeat; /* Para não repetir a imagem */
    }

    #nav_list,
    #navbar .btn-default{
        display: none;
    }
    
   
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap:5px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;

    }

}


