
@media screen and (max-width: 768px) {

    body {
        background: rgb(255, 255, 255);
        background-size: cover; /* Para cobrir toda a área do body */
        background-repeat: no-repeat; /* Para não repetir a imagem */
    }

    #nav_list,
    #navbar .btn-default{
        display: none;
    }
    
   
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap:5px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;

    }

}


@media screen and (max-width: 1280px){

    #nav_logo {
        height: 50px;
    }
    .nav-item a {
        font-size: 0.8rem;
    }
    .btn-default{
        font-size: 0.8rem;
        border-radius: 12px;
        padding: 8px 24px;
    }


    #cta {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #cta .title {
        font-size: 0.8rem;
        padding-bottom: 20px;
    }
    #cta .description {
        font-size: 1rem;
    }


    
    #bottom-content{
        img{
            width: 80%;
        }
    
        p{
            position: absolute;
            width: 70%;
            font-size: 1rem;
            color: white;
            text-align: center;
            padding: 7rem 1rem 5rem 3rem;
        }
    }




}